<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>First Cookie</title>
  </head>
  <body>
    <form action="/checkout" method="post">
      <label for="item">Item Name: </label>
      <input type="text" name="item" id="item">
      <p><input type="submit" value="submit"></p>
    </form>
  </body>
</html>
